*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pad{
    padding: 10px 70px;
    background-color: rgb(251,251,251)!important;
    /* box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.192); */
}
.img1{
    width: 40px;
}
small{
    font-weight: bold;
}
.nav-item{
    font-size: 14px;
    font-weight: bold;
}
.nav-link{
    color: rgb(113,113,113)!important;
}
.nav-link:hover{
    color: black!important;
}
.back{
    background-color: rgb(255,165,0)!important;
    border: 0;
    border-radius: 20px;
    padding: 7px 12px;
    font-size: 13.5px;
    font-weight: bold;
}
.navbar-collapse {
    max-height: none !important;
    height: auto !important;
}
.navbar-nav-scroll {
    max-height: none !important;
    overflow: visible !important;
}
.sec1{
    background-color: rgb(255,236,204);
    padding: 25px 80px;
    margin-top: 65px;
    display: flex;
    gap: 200px;
}
.p1 img{
    width: 450px;
}
.p2{
    color: rgb(79,79,79);
    width: 450px;
    margin-top: 90px;
}
.p2 h2{
    font-size: 32px;
}
.p2 p{
    font-size: 16px;
    margin-top: 20px;
}
.p2 .back{
    margin-top: 10px;
}
.part1 h3{
    color: rgb(79,79,79);
}
.sec2{
    padding: 20px 130px;
}
.par1{
    margin: auto;
    width: fit-content;
    text-align: center;
}
.par2{
    margin: auto;
    width: fit-content;
    text-align: center;
    padding-top: 40px;
}
.par1 h3{
    font-size: 28px;
}
.par2 h3{
    font-size: 28px;
}
.box{
    padding: 30px 30px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.192);
    width: fit-content;
    border-radius: 10px;
    color: rgb(79,79,79);
}
.circle{
    background-color: rgb(255,165,0);
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    padding: 10px 10px;
    margin: auto;
}
.auto{
    text-align: center;
    margin-top: 20px;
    height: 150px;
    width: 270px;
}
.auto p{
    margin-top: 30px;
}
.inflex1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.star{
    color: rgb(255,165,0);
}
.cardflex{
    display: flex;
    justify-content: space-between;
}
.little{
    font-size: 13px;
}
.little1{
    font-size: 13px;
    font-weight: bold;
}



/* responsiveness */
/* mobile */
@media screen and (max-width:480px){
    .pad{
        padding: 0px 10px;
    }
    .middle{
        width: fit-content;
        margin-left: -5px;
    }
    .p1{
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .p1 img{
        width: 300px;
    }
    .p2 h2{
        font-size: 25px;
    }
    .p2{
        width: 300px;
        margin-top: 0px;
        margin: auto;
    }
    .sec1{
        flex-direction: column;
        padding: 40px 40px;
        gap: 0px;
    }
    .sec2{
        padding: 10px 30px;
    }
    .inflex1{
        flex-direction: column;
        gap: 20px;
    }
    .auto{
        height: 120px;
    }
}
/* tablet */
@media screen and (min-width:481px) and (max-width:768px){
    .pad{
        padding: 0px 15px;
    }
    .middle{
        width: fit-content;
        margin-left: -5px;
    }
    .p1{
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .p1 img{
        width: 300px;
    }
    .sec1{
        flex-direction: column;
        padding: 30px 80px;
        gap: 0;
    }
    .p2{
        width: 600px;
        margin-top: 0px;
        margin: auto;
    }
    .sec2{
        padding: 10px 40px;
    }
    .inflex1{
        gap: 20px;
        display: grid!important;
        grid-template-columns: 1fr 1fr;
    }
}
/* larger tablets */
@media screen and (min-width:769px) and (max-width:1080px){
    .pad{
        padding: 0px 20px;
    }
    .middle{
        width: fit-content;
        margin-left: -5px;
    }
    .p1{
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .p1 img{
        width: 300px;
    }
    .sec1{
        flex-direction: column;
        padding: 30px 80px;
        gap: 0;
    }
    .p2{
        width: 600px;
        margin-top: 0px;
        margin: auto;
    }
    .sec2{
        padding: 10px 70px;
    }
    .inflex1{
        gap: 20px;
        display: grid!important;
        grid-template-columns: 1fr 1fr;
    }
}
